body {
    background-image: url(../img/);
    font-family: 'Fira Sans', sans-serif;
    margin: auto;
    max-width: 1300px;
}







/*header*/
.bg-img {
    position: absolute;
    top: 2em;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
}


/* The navbar */
.topnav {
    overflow: hidden;
    background-color: rgba(53, 79, 79, .7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.topnav:hover {
    background-color: rgba(53, 79, 79, .9);
    transition: .5s;
}

/* Navbar links */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 5px 29px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: .5s;
}

/*header*/



/*name*/
.name {
    color: #354F4F;
    position: absolute;
    opacity: 0.1;
    width: 100%;
    max-width: 1300px;
    top: -10px;
}

.name .img-1 {
    width: 16%;
    float: left;
}

.name .img-2 {
    width: 16%;
    float: right;
    position: relative;
    top: 27em;
}

/*name*/







/*bio*/
.bio {
    margin: 46px 7%;
    color: #354F4F;
    line-height: 30px;
}

/*bio*/











/*slideshow*/
slideshow {}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.slideshow-container .fade img {
    width: 100%;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    padding-bottom: 60%;
    height: 0;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/*slideshow*/













/*gallery-2*/
.col-sm-4 {
    margin: 7% 7% 207% 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
}

.row {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    /*图片只在框中放大*/
    
}

.row .imgbox img {
    transition: transform 2s;
    width: 100%;
}

.row .imgbox:hover img {
    transform: scale(1.1)
}

.row .details {
    position: absolute;
    top: 85%;
    bottom: 10px;
    left: 70%;
    right: 10px;
    background: rgba(0, 0, 0, 0);
}

.row .details:hover {
    background: rgba(0, 0, 0, .8);
    transition: 0.5s;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}


.row .details .content {
    opacity: 0;
}

.row .details .content:hover {
    opacity: 1;
    transition: 2s;
    color: aliceblue;
}

.row .details .content p {
    color: white;
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    font-size: 1.5em;
    font-weight: 300;
    padding: 10px 20px;
    line-height: 25px;
    text-align: center;
}

.row .details .content p:hover {
    opacity: 1;
    transition: 0.5s;
    padding: 100px 0;
}

/*gallery-2*/













/*footer*/
.footer a,
.footer a:visited {
    text-decoration: none;
    color: #D0D6D6;
    text-align: center;
    margin: 0 20px;
}

.footer a:hover {
    color: #354F4F;
    transition: 0.5s;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 40% 0 50px 0;
}

/*footer*/















/*alarm*/














/**/
@media only screen and (min-width: 1000px) {
    .col-sm-4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 7% 7% 57% 7%;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 150px 80px 50px 80px;

    }





}

/**/








/**/
/**/









/**/
/**/
